@charset "utf-8";

@import '~bulmaswatch/materia/variables';
@import '~bulma/bulma';
@import '~bulmaswatch/materia/overrides';

.is-not-button {
  background: none !important;
  border: none;
  padding: 0 !important;
}
